body{
    
    background-color: rgba(34,193,195,1);
}
html{
    font-size: 16px;
   
}

.linkcard{
    padding: 20px;
    border: 0.5rem solid white;
    background-color:rgba(34,193,195,1);
    height: 50px;
    width: 90%;
    
    text-align: center;
}

.linkcard:hover{
    background-color: white;
}

.links{
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.linksdiv {
    text-align: center;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    
    
  }

  .container{
    text-align: center;
    height: 90vh;
    
    
}