<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="linksdiv">

        <div class="cards"><a class="links" href="/backtrack">Backtracking Algorithms</a></div>
        <div class="cards"><a class="links" href="/geometry/">Geometrical Algorithms</a></div>
        <div class="cards"><a class="links" href="/maths/">Mathematical Algorithms</a></div>
        <div class="cards"><a class="links" href="/bit/">Backtracking</a></div>
        <div class="cards"><a class="links" href="/branchandbound/">Branch & Bound</a></div>
        <div class="cards"><a class="links" href="/greedy/">Greedy Algorithms</a></div>
        <div class="cards"><a class="links" href="/sort/">Sorting Algorithms</a></div>
        <div class="cards"><a class="links" href="/search/">Searching Algorithms</a></div>
        <div class="cards"><a class="links" href="/divcon/">Divide and Conquer</a></div>
        <div class="cards"><a class="links" href="/pattern/">Pattern Matching Algorithms</a></div>
        <div class="cards"><a class="links" href="/dynamic/">Dynamic Programming</a></div>
        <div class="cards"><a class="links" href="/randomised/">Randomised Algorithms</a></div>
        <div class="cards"><a class="links" href="/graph/">Graph Algorithms</a></div>
    </div>
</body>
</html>
